// main: style.scss
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
}

.home.page .hentry {
	padding: 0;
}

h1.entry-title{
	margin-top: 0;
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 1.2;
}

.page , .single {
	.hentry {
		padding: 25px;
		background: #fff;
		border: none;
		margin-bottom: 40px;
		box-shadow: 0 1px 2px rgba(189, 184, 184, 0.1);

	}
}

.single {
	.entry-header {
		margin-bottom: 20px;
	}
	.entry-content {
		margin-top: 1.0625rem;
		margin-bottom: 0;
	}
	.entry-thumb {
		margin: -25px -25px 20px;
	}
}

// .byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.featured-image{
	position: relative;
	margin-bottom: 0;
	img {
		width: 100%;
		display: block;
	}
}

.entry-info {
    position: relative;
	padding: 25px 25px 15px 25px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	background: #fff;
}

.no-post-thumbnail {
	.entry-info {
		margin: 0;
	}
	.ft-post-right {
		margin: 0;
	}
}

h2.entry-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 5px;
	margin-top: 0;
	@include media-breakpoint-down(md) {
		font-size: 22px;
	}
	a {
		color: #333;
		text-decoration: none;
		&:hover {
			color: #666;
		}
	}
}

.entry-meta {
    display: block;
    font-style: italic;
    color: #b4b4b4;
    margin-bottom: 15px;
	div {
		display: inline-block;
	}
	a {
		color: #b4b4b4;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.single .entry-meta {
	font-size: 17px;
}

.entry-footer {
	a {
		color: #999;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
a.read-more {
	color: $color__primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
/* Archie */
.archive, .search {
	.page-header {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 40px;
		padding-bottom: 15px;
	}
	.post-grid:nth-of-type(2n+1) {
		float: left;
		clear: both;
	}
	.post-grid:nth-of-type(2n) {
		float: right;
		clear: none;
	}
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin-top: 40px;
	.logged-in-as a {
		color: $color__primary;
		font-weight: bold;
	}
	.comment-list  {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 20px 0;
			padding-bottom: 15px;
			border-bottom: 1px solid #e6e6e6;
			.avatar {
				border-radius: 3px;
				float: left;
				width: 60px;
			}
			.comment-wrapper {
				background: #f8f9f9 none repeat scroll 0 0;
				margin-left: 4rem;
				padding: 0 20px;
				position: relative;
				.comment-meta {
					margin-bottom: 20px;
					a {
						text-decoration: none;
					}
					.fn {
						font-weight: bold;
					}
				}
				.comment-author {
					margin-bottom: 20px;
					a {
						color: #bbb;
						font-size: 1.1rem;
						letter-spacing: 0.3px;
						text-transform: uppercase;
					}
				}
				.comment-actions {
					i {
						padding-left: 10px;
						font-size: 13px;
					}
				}
			}
			li {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#respond  {
	input#submit {
		width: auto;
		font-weight: bold;
	}
	#reply-title {
		border-bottom: 1px solid #e5e5e5;
		font-size: 22px;
		margin-bottom: 40px;
		padding-bottom: 10px;
		text-transform: uppercase;
		a {
			margin-left: 7px;
		}
	}
}
