// main: style.scss
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
.site {
    position: relative;
    overflow: hidden;
}

.site-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    &:after {
        position: absolute;
    	top: 0;
    	right: 0;
    	width: 0;
    	height: 0;
    	background: rgba(0,0,0,0.2);
    	content: '';
    	opacity: 0;
    	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
}
@include media-breakpoint-down(md) {
    .st-menu-open .site-pusher::after {
    	width: 100%;
    	height: 100%;
    	opacity: 1;
    	-webkit-transition: opacity 0.5s;
    	transition: opacity 0.5s;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
    clear: both;
    @include media-breakpoint-down(md) {
        padding: 0 20px;
    }
}

.site-header {
    padding: 45px 0;
    background: transparent;
    width: 100%;
    min-height: 400px;
    height: 400px;
    float: none;
    display: block;
    text-align: center;
    position: relative;
    @include media-breakpoint-down(md) {
        min-height: 400px;
        height: 400px;
    }
    .site-header-wrap {
        background: rgba(0,0,0,0.1);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 9999;
        .container {
            position: relative;
            height: 100%;
        }
    }
    .site-branding {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        width: 100%;
        @include media-breakpoint-down(md) {
            float: none;
            text-align: center;
        }
        .site-title {
            font-size: 40px;
            line-height: 40px;
            text-decoration: none;
            margin: 5px 0;
            position: relative;
            padding-bottom: 20px;
            a {
                color: $color__white;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
            }

        }
        .site-description {
            width: 60%;
            margin: 0 auto;
            font-size: 28px;
            line-height: 1.3;
            color: $color__white;
            text-shadow: 0 2px 5px rgba(0,0,0,0.4);
            @include media-breakpoint-down(md) {
                font-size: 18px;
            }
        }
    }
}



.social-menu {
    float: right;
    margin-top: 13px;
    @include media-breakpoint-down(md) {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
}

.site-content {
    clear: both;
    padding: 50px 0 30px;
    @include media-breakpoint-down(md){
        padding: 30px 0;
    }
}
.full-width {
    .content-area {
        width: 100%;
    }
}

.content-area {
    float: left;
    width: 100%;
    @include media-breakpoint-up(md){
        width: 65%;
    }
}
.content-area.no-sidebar {
    width: 100%;
}
.sidebar {
    float: right;
    width: 100%;
    margin-top: 40px;
    @include media-breakpoint-up(md){
        width: 30%;
        margin-top: 0px;
    }
    .widget {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        padding: 25px;
    }
}

/* Home post layout */
.post-grid {
    width: 100%;
    background: #fff;
	@include media-breakpoint-up(sm) {
		width: 47.5%;
	}
    .featured-image {
        margin: 0;
        img {
    		width: 100%;
    		height: auto;
        }
	}
	.entry-title {
		font-size: 22px;
		margin-bottom: 5px;
	}
}


.homepage-default {
    .post-grid:nth-of-type(odd) {
        float: left;
        clear: both;;
    }
    .post-grid:nth-of-type(even) {
        float: right;
    }
}

.homepage-home2 {
    .post-grid {
        &:first-child {
            clear: both;
            float: none;
        }
        &:nth-of-type(even) {
            float: left;
    		clear: both;
        }
        &:nth-of-type(odd) {
    		float: right;
    	}
    }

	.post-list{
		clear: both;;
	}
}

/* Post Navigation */
.navigation {
    clear: both;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;

    a {
        color: #888;
        margin-right: 5px;
        text-decoration: none;
        &:hover{
            color: #111;
            text-decoration: underline;
        }
    }
    .current {
        color: #111;
        font-size: 32px;
        margin-right: 5px;
    }

}
.single-post {
    .navigation {
        font-size: 18px;
        .nav-previous {
            float: left;
            width: 45%;
            text-align: left;
        }
        .nav-next {
            float: right;
            width: 45%;
            text-align: right;
        }
        a {
            color: #000;
        }
        span {
            font-size: 13px;
            display: block;
            color: #888;
        }
    }
}

/* search form */
.wp-block-search {
    .wp-block-search__inside-wrapper {
        margin-top: 5px;
    }
    .wp-block-search__input {
        margin-bottom: 0;
        border: 1px solid #e3e3e3;
    }
    .wp-block-search__button  {
        border-color: #a4cc00;
        width: auto;
        margin: 0 0 0 -5px;
        border-radius: 0 3px 3px 0;
        text-transform: uppercase;
        background: #a4cc00;
        color: #fff;
    }
}



/* Footer */
.site-footer {
    overflow: hidden;
    background: #fff;
    .footer-staff-picks {
        width: 3000px;
        padding: 0;
        text-align: center;
        overflow: hidden;
        left: 50%;
        line-height: 1;
        margin: 0 auto;
        position: relative;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        .hentry {
            float: none;
            display: inline-block;
            width: 330px;
            padding: 0;
            margin: 0 0 0 -5px;
            border-bottom: none;
        }
    }

    .footer-widgets {
        border-bottom: 1px solid #e6e6e6;
        margin: 0;
        padding: 45px 0 20px;
        .widget {
            box-sizing: border-box;
            float: left;
            width: 100%;
            margin-bottom: 20px;
            padding: 0 20px;
            li {
                border: none;
                margin-bottom: 7px;
                padding-bottom: 7px;
            }
            @include media-breakpoint-up(sm) {
                width: 49%;
            }
            @include media-breakpoint-up(lg) {
                width: 25%;
            }
        }
    }

    .site-info {
        padding: 25px 0;
        margin: 0;
        font-size: 13px;
        text-align: center;
        .site-copyright {
            float: left;
            @include media-breakpoint-down(sm) {
                float: none;
            }
        }
        .theme-info-text {
            float: right;
            @include media-breakpoint-down(sm) {
                float: none;
            }
        }
    }
}


.wp-block-cover, .wp-block-cover-image {
    margin-bottom: 1.5em;
}
.wp-block-cover-image h1:not(.has-text-color), .wp-block-cover-image h2:not(.has-text-color), .wp-block-cover-image h3:not(.has-text-color), .wp-block-cover-image h4:not(.has-text-color), .wp-block-cover-image h5:not(.has-text-color), .wp-block-cover-image h6:not(.has-text-color), .wp-block-cover-image p:not(.has-text-color), .wp-block-cover h1:not(.has-text-color), .wp-block-cover h2:not(.has-text-color), .wp-block-cover h3:not(.has-text-color), .wp-block-cover h4:not(.has-text-color), .wp-block-cover h5:not(.has-text-color), .wp-block-cover h6:not(.has-text-color), .wp-block-cover p:not(.has-text-color) {
    color: white;
}

ol.wp-block-latest-comments {
    padding-left: 0;
}